body {
  background-color: black;
  background-image: url(galvanize-logo.png);
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position: 80% 60%;
}

h1, h2 {
  background-color: white;
}

div {
background-color: white;
height:40px;
width: 300px;
}


li {
  color: white;
}


p {
  font-size: large;
  color: white;
}
